@page "/Quiz/{ActivityId:guid}"
@using Concrete.Core.Data.Api.Client
@using Concrete.Core.Template
@inject IDataClient client

<PageTitle>Quiz editor</PageTitle>

@if(_activityTemplate is null)
{
    <span>loading</span>
}
else
{
    <span>@_activityTemplate.Name</span>
}

@code {
    [Parameter]
    public Guid ActivityId { get; set; }
    private ActivityTemplate? _activityTemplate;

    protected override async Task OnInitializedAsync()
    {
        _activityTemplate = await client.GetActivityTemplate(ActivityId, CancellationToken.None);
    }
}
