@page "/modeler/activity-template/{TypeName}/{Id:guid}"
@rendermode InteractiveServer
@using Concrete.Interface
@using Concrete.Modeler.Client
@inject IModelerClient client
<h3>ActivityTemplate</h3>

@if (_extensionUri is null)
{
    <div>Looking for extension editor</div>
}
else
{
    // todo: dns fucks up here. we get served an internal url
    <iframe style="height:100%;width:100%" src="@(new Uri(_extensionUri, $"/{Type.Name}/{Id}"))" />
}
<iframe>
</iframe>

@code {
    [Parameter]
    public required string TypeName { get; set; }
    private ActivityTypeName Type => ActivityTypeName.Parse(TypeName, null);
    [Parameter]
    public Guid Id { get; set; }
    private Uri? _extensionUri;

    protected override async Task OnInitializedAsync()
    {
        _extensionUri = await client.GetExtensionEditorForActivityTypeAsync(
            Type,
            CancellationToken.None
        );
    }
}
